<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Edit Ticket</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <form method="post" th:action="@{saveTicket(page=${page}, keyword=${keyword})}">
            <div class="mb-3 mt-3">
                <input type="hidden" name="id" th:value="${ticket.idTicket}">
            </div>


            <div class="mb-3 mt-3">
                <label for="idTicket" class="form-label">idTicket:</label>
                <input type="number" class="form-control" id="idTicket"  name="idTicket"  th:value="${ticket.idTicket}">
            </div>
            <div class="mb-3">
                <label for="prix" class="form-label">prix:</label>
                <input type="number" class="form-control" id="prix" placeholder="prix" name="prix"  th:value="${ticket.prix}">
            </div>
            <div class="mb-3">
                <label for="userReference" class="form-label">userReference:</label>
                <input type="text" class="form-control" id="userReference" placeholder="userReference" name="userReference"  th:value="${ticket.userReference}">
            </div>
            <div class="mb-3 mt-3">
                <label for="match" class="form-label">match:</label>
                <input type="text" class="form-control" id="match" placeholder="match" name="match"   th:value="${ticket.match}">
            </div>

            <button type="submit" class="btn btn-primary">Save Ticket</button>
        </form>
    </div>
</div>
</body>
</html>